@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #0a0c0f;
  color: #e8eaf0;
}

input[type="range"] {
  appearance: none;
  height: 4px;
  border-radius: 2px;
  background: #1e2530;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #c8f060;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #c8f060;
  cursor: pointer;
  border: none;
}
